img{
    width: 50px;
    height: 50px;
}

h1{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.Cap{
    color: red;
}

.Capacitat{
    background-color: grey;
    font-size: 20px;
    text-align: center;
}

#ColRow{
    background-color: blue;
    color: white;
}

.Descripcio{
    background-color: beige;
    text-align: left;
}

.Etiqueta{
    background-color: green;
    color: white;
}

#Superior{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: yellow;
}

#TornaAlMenu{
    color: black; 
    text-decoration: none;
}

#TornaAlMenuIMG{
    width: 15px;
    height: 15px;
}