h1{
    text-align: center;
}

img{
    width: 30px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
    width: 30px;
    padding: 5px;
    background-color: rgba(255, 228, 181, 0.397);
}

p{
    font-size: 20px;
    text-align: center;

}

#enlace:link{
    color: green;
}

#enlace:visited{
    color: red;
}

#pati{
    text-align: center;
}

.dia td:first-letter{
    font-size: 200%;
}

.Viernes:hover{
    font-size: 200%;
}

#email{
    border: 5px red solid;
}

.formulari{
    display: inline-block;
    color: red;
}

th{
    background-color: rgb(255, 255, 130);
}

#pati{
    background-color: lemonchiffon;
}

.hora{
    background-color: rgb(242, 226, 255);
}

.hora p{
font-size: 75%;
}

.dia{
    background-color: lightgoldenrodyellow;
}

.M14{
    background-color: lightgrey;
}

.EIE{
    background-color: lightsalmon;
}

.M01{
    background-color: lightgreen;
}

.M02{
    background-color: lightpink;
}

.M05{
    background-color: lightsteelblue;
}

.M03{
    background-color: lightcoral;
}

.M04{
    background-color: lightcyan;
}

.FOL{
    background-color: lightskyblue;
}

.tutoria{
    background-color: lightyellow;
}

#TornaAlMenu{
    color: black; 
    text-decoration: none;
}
    
#TornaAlMenuIMG{
    width: 15px;
    height: 15px;
}