
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: relative; 
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 20%;
    text-decoration: none;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

p{
      padding: 0px;
      border: 0px;
      font-family: Cambria;
}

h1{
  text-align: center;
}
body{
    background-color: rgb(240, 255, 252);
}