
a{
    text-decoration-line: none;
    color: black;
}
header{
    background-color: #160d68;
    color: white;
    padding-left: 1%;
}
/* TITOL */
#Capçalera{
    display: block;
}

#Capçalera header{
    background-color: white;
}

#Capçalera img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/* MENU */
#Menu{
    background-color: #160d68;
    position: static;
    width: 99%;
    height: 5%;
    padding: 10px;
    margin: 0%;
    text-align: center;
    overflow: hidden;
}
#Menu a{
    text-align: center;
    text-decoration: none;
    padding: 14px 1%;
    font-size: 17px;
    color: white;
}

#Menu a:hover{
    background-color: #e2fafd;
    color: red;
}

/* Dia en imatges */

#DEI{
    margin-top: 2%;
}

#DEI img{
    width: 23%;
    height: 20%;
    display: inline-block;
    margin: 0.5%;
    margin-left: 1%;
}

/* Titulars */

#Titulars{
    width: 40%;
    float: left;
}

/* Dades */

#Dades{
    width: 59%;
    display: inline-block;
    margin-left: 1% ;
}

/* Noticies */

.NoticiaInd img{
    width: 33%;
    margin: 1%;
    margin-top: 5%;
    display: inline-block;
}

.InfoNoticies{
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    max-width: 25%;
}


/* Taula */
#Majors{
    color: red;
}
table, th, td, th{
    border: 1px solid rgb(0, 0, 131);
    border-collapse: collapse;
}
table{
    text-align: center;
    width: 90%;
    height: 8em;
    margin: 5%;
}

.Enunciat{
    color:rgb(68, 89, 212);
}

/* Formulari */
#Formulari{
    margin-left: 20%;
}

/* Footer */
#Peu{
    display: block;
    position: relative;
    margin:0px;
    width: 100%;
    background-color: #5a4dca;
    clear: both;
}
#DataAvui{
    float: right;
}