body{
    background-color: #e2fafd;;
}


h1{
    text-align: center;
}


#Text{
    padding-top: 1%;
}


#Superior{
    background-color: #b0f4fd;
    position: fixed;
    top:0;
    width: 100%;
    height: 5%;
    left: 0;
    margin-bottom: 5%;
    text-align: center;
    border: #5cecff solid 1px;
    overflow: hidden;
}
#Superior a{
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 10%;
    font-size: 17px;
    color: black;
}


#Superior a:hover{
    background-color: #e2fafd;
}

#Lateral{
    background-color: #b0f4fd;
    position: fixed;
    left: 0;
    top: 20%;
    padding: 0px;
    margin: 0px;
    border: #5cecff solid 1px;
    border-radius: 10px;
    width: 10%;
    height: 30%;
    text-align: center;
}
#Lateral img {
    width: 70%;
    height: 40%;
    border-radius: 100%;
}


#Fotos{
    background-color: #c7f6fc;
    position: static;
    border: #b0f4fd 1px solid;
    margin-left: 10%;
    text-align: center;
    padding: 10%;
    padding-bottom: 30%;
}
#Fotos img{
    width: 400px;
    height: 230px;
    border-radius: 10px;
}
#Fotos figure{
    background-color: white;
    margin-right: 100%;
    position: absolute;
    display: block;
    border-radius: 10px;
}

#F1{
    transform: rotate(325deg);
    margin-left: -7%;
    margin-top: -2%;
    z-index: 4;
}
#F2{
    transform: rotate(345deg);
    margin-left: 9%;
    margin-top: 2%;
    z-index: 3;
}
#F3{
    transform: rotate(15deg);
    margin-left: 25%;
    margin-top: -3%;
    z-index: 2;
}
#F4{
    transform: rotate(335deg);
    margin-left: 36%;
    margin-top: 6%;
    z-index: 1;
}
#TornaAlMenu{
    color: black; 
    text-decoration: none;
}

#TornaAlMenuIMG{
    width: 15px;
    height: 15px;
}