h1{
    text-align: center;
}
a{
    text-decoration-line: none;
    color: black;
}
a:visited{
    color: black;
}

p{
    font-family: Cambria;
}

#TornaAlMenu{
    color: black; 
    text-decoration: none;
}
    
#TornaAlMenuIMG{
    width: 15px;
    height: 15px;
}

#Contacte a{
    color: rgb(0, 39, 7);
    text-decoration: underline;
}