#Fotos {
    border: 2px solid blue;
    width: 100%;
    height: 24em;
}
#Fotos img{
    height: 100%;
    width: 33.3%;
    float: left;
}
p{
    color: blue;
    font-size: 125%;
}
#cercador {
    height: 20%;
    display: flex;
}
#header {
    top: 0%;
    display: flex;
    width: 100%;
    background-color:blue;
    padding:0%;
    text-align: center;
    align-items: center;
    margin:0%;
}
ul, ol {
    list-style:none;
    padding: none;
    float: left;
}
.nav {
    margin:0%;
    overflow: auto;
    width: 100%;
    display: flex;
    padding: 0%;
}
.nav > li {    
    float: left;
    color: white;
    text-align: center;
    padding: 0%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 20%;
}
.nav li a {
    background-color:blue;
    width: 100%;
    color:#fff;
    text-decoration:none;
    display:block;
}
.nav li a:hover {
    background-color:#41e3ff;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
    padding-top: 1em;
}